.opening-text {
  padding-top: 400px;
  padding-left: 10px;
  font-size: 1.2em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Fredoka", sans-serif;
  color: white;
}

.opening-bg {
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(87, 97, 73, 0) 0%,
      rgba(87, 97, 73, 0.4) 75%,
      rgba(87, 97, 73, 1) 100%
    ),
    url("src\\assets\\pulau.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.daftar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Fredoka", sans-serif;
}

.daftar-text {
  font-size: 0.7em;
  font-family: "Poppins", sans-serif;
}

.food-text {
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
}

.w3-animate-fading {
  animation: fading 10s infinite;
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.w3-animate-opacity {
  animation: opac 0.8s;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.w3-animate-top {
  position: relative;
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.w3-animate-left {
  position: relative;
  animation: animateleft 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.w3-animate-right {
  position: relative;
  animation: animateright 0.4s;
}
@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.w3-animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.w3-animate-zoom {
  animation: animatezoom 0.6s;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.w3-animate-input {
  transition: width 0.4s ease-in-out;
}
.w3-animate-input:focus {
  width: 100% !important;
}
